body {
    background-color: rgb(57, 109, 66);
}

div {
    background-color: rgb(247, 240, 201);
    margin: 1%;
    padding: 10px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: wheat;
    font-weight: bolder;
}

#desc {
    text-align: center;
    color: white;
    font-weight: bold;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}
