div {
    background-color: white;
    margin: 5px;
}

body {
    background-color: rgb(145, 146, 226);
}

a {
    font-size: 18pt;
    margin: 10px;
}

#added {
    color: orange;
    font-size: 14pt;
}

h1 {
    text-align: center;
}