div {
    background-color: white;
    margin: 5px;
}

body {
    background-color: rgb(31, 34, 216);
    margin: 10px;
}

a {
    font-size: 24pt;
}

#added {
    color: orange;
    font-size: 20pt;
}

h1 {
    text-align: center;
}