p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: skyblue;
}

div {
    width: 95%;
    margin: auto;
    background-color: gainsboro;
}

h1 {
    margin: 15px;
}

img {
    padding: 15px;
    text-align: center;
}