p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: skyblue;
}

div {
    width: 90%;
    margin: auto;
    background-color: gainsboro;
}

h1 {
    margin: 5px;
}